---
const { label } = Astro.props;
---

<div class="flex flex-col gap-4">
  <p class="text-xs font-medium tracking-widest uppercase opacity-50">
    {label}
  </p>
  <div class="text-2xl font-serif"><slot /></div>
</div>
