/* Neue Machina Font */
@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/neue-machina/ultralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/neue-machina/light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/neue-machina/regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/neue-machina/medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/neue-machina/bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/neue-machina/ultrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/neue-machina/black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Lausanne Font */
@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/thin-italic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/ultralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/ultralight-italic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/light-italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/regular-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/medium-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/semibold-italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/bold-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/ultrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/ultrabold-italic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("/fonts/lausanne/black-italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-machina: "Neue Machina", serif;
  --font-lausanne: "Lausanne", sans-serif;
  --font-fira-code: "Fira Code Variable", monospace;
}
