---
import Section from "@/components/cv/Section.astro";

import { skills } from "@/data/cv.json";
---

<Section title="Technologies">
  <ul class="inline-flex gap-2 flex-wrap">
    {
      skills.map(({ name }) => (
        <li class="bg-zinc-900 text-zinc-100 text-sm rounded-md py-1 px-2">
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>
