---
import Github from "@/assets/contact/logo-github.svg";
import Linkedin from "@/assets/contact/logo-linkedin.svg";
import ArrowUp from "@/assets/icons/arrow-up.svg";
import NowPlaying from "@/components/NowPlaying.astro";
---

<footer
  class="pt-24 pb-36 bg-gradient-to-b from-black to-transparent sm:mt-24 mt-12 mb-6 p-12 rounded relative"
>
  <div class="flex sm:flex-row flex-col sm:justify-between gap-y-12">
    <div class="flex flex-col gap-y-3">
      <p class="opacity-50 text-center sm:text-left">
        Want to work together? Feel free to reach out.
      </p>
      <a
        href="mailto:hello@laam.dev"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white hover:text-accent text-2xl font-serif uppercase font-bold transition-all duration-300 text-center sm:text-left"
        >hello@laam.dev</a
      >
    </div>
    <div class="flex gap-x-6 justify-center sm:justify-start">
      <a
        href="https://github.com/laamdev"
        target="_blank"
        rel="noopener noreferrer"
        class="grayscale hover:grayscale-0 transition-all duration-300 hover:scale-110"
        ><Github class="size-6" />
      </a>
      <a
        href="https://www.linkedin.com/in/laamdev"
        target="_blank"
        rel="noopener noreferrer"
        class="grayscale hover:grayscale-0 transition-all duration-300 hover:scale-110"
        ><Linkedin class="size-6" />
      </a>
    </div>
  </div>

  <a href="#top" class="absolute top-4 right-4">
    <ArrowUp
      class="size-4 grayscale hover:grayscale-0 transition-all duration-300"
    />
  </a>

  <div class="absolute sm:bottom-4 bottom-12 inset-x-0">
    <div class="flex flex-col justify-center items-center gap-y-6">
      <NowPlaying class="opacity-50 text-base" />
    </div>
  </div>
</footer>
