---
import { MobileMenu } from "@/components/navigation/MobileMenu";
---

<header>
  <nav
    class="flex sm:flex-row flex-col sm:items-center sm:justify-between relative"
  >
    <div class="flex justify-between items-center w-full sm:w-auto">
      <a href="/" class="text-2xl font-bold font-serif">LAAM</a>
      <MobileMenu client:load />
    </div>

    <!-- Desktop Navigation -->
    <ul class="hidden sm:flex sm:flex-row sm:items-center sm:gap-12 py-4">
      <li>
        <a
          href="/#work"
          class="text-sm uppercase text-foreground-muted transition-colors duration-300 ease-out hover:text-white tracking-wider font-medium"
          >Work</a
        >
      </li>
      <li>
        <a
          href="/services"
          class="text-sm uppercase text-foreground-muted transition-colors duration-300 ease-out hover:text-white tracking-wider font-medium"
          >Services</a
        >
      </li>
      <li>
        <a
          href="/technologies"
          class="text-sm uppercase tracking-wider text-foreground-muted transition-colors duration-300 ease-out hover:text-white font-medium"
          >Technologies</a
        >
      </li>
    </ul>
  </nav>
</header>
