---
import { getCollection } from "astro:content";

import Bullet from "@/assets/icons/bullet.svg";
import SERVICES_CATEGORIES from "@/data/services-categories.json";

import Layout from "@/layouts/Layout.astro";
import SectionHeading from "@/components/shared/SectionHeading.astro";
import PageHeader from "@/components/shared/PageHeader.astro";

const services = await getCollection("services");

const groupedServices = services.reduce(
  (acc, service) => {
    const categoryId = service.data.categoryId;
    if (!acc[categoryId]) {
      acc[categoryId] = [];
    }
    acc[categoryId].push(service);
    return acc;
  },
  {} as Record<string, typeof services>
);
---

<Layout
  title="Services"
  description="Building modern, high-performance web experiences with Next.js & Tailwind CSS— from sleek UI/UX to powerful backends."
>
  <PageHeader title="Services" />

  <div class="flex mt-12 md:mt-24 flex-col gap-12 md:gap-24">
    {
      SERVICES_CATEGORIES.map((category) => {
        const categoryServices = groupedServices[category.id] || [];
        return (
          <div
            id={category.id}
            class="grid grid-cols-1 md:grid-cols-5 gap-6 md:gap-12"
          >
            <div class="col-span-1 md:col-span-2">
              <SectionHeading title={category.name} />
              <p class="opacity-50 mt-4">{category.description}</p>
            </div>
            <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:gap-6 col-span-1 md:col-span-3 bg-background-muted rounded p-6 md:p-12">
              {categoryServices.map((service) => (
                <li class="flex items-center gap-x-1">
                  <Bullet class="text-accent" />
                  {service.data.name}
                </li>
              ))}
            </ul>
          </div>
        );
      })
    }
  </div>
</Layout>
