---
import Layout from "@/layouts/Layout.astro";
import TechnologiesList from "@/components/TechnologiesList.astro";
import PageHeader from "@/components/shared/PageHeader.astro";
---

<Layout
  title="Future-Proof Tech Stack"
  description="Crafting high-performance, intuitive UIs with the latest tech—delivering beautiful, scalable, and growth-driven digital products."
>
  <PageHeader title="Tech Stack" />
  <div class="mt-24">
    <TechnologiesList />
  </div>
</Layout>
