---
import SectionHeading from "@/components/shared/SectionHeading.astro";
import SERVICES_CATEGORIES from "@/data/services-categories.json";
---

<div class="">
  <SectionHeading title="Main Services" />
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-12">
    {
      SERVICES_CATEGORIES.map((category) => (
        <a
          href={`/services#${category.id}`}
          class="block p-6 rounded-lg border bg-background hover:bg-background-muted transition-colors"
        >
          <h3 class="font-serif text-xl font-medium mb-2">{category.name}</h3>
          <p class="text-sm text-muted-foreground">{category.description}</p>
        </a>
      ))
    }
  </div>
</div>
