---
import { getCollection, render } from "astro:content";

import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const snippets = await getCollection("snippets");

  return snippets.map((snippet) => ({
    params: { id: snippet.id },
    props: {
      snippet,
    },
  }));
}

const { snippet } = Astro.props;

const { data } = snippet;
const { title, description } = data;

const { Content } = await render(snippet);

export const prerender = true;
---

<Layout title={title} description={description}>
  <article
    class="prose prose-headings:font-serif prose-h1:uppercase max-w-3xl mx-auto prose-invert"
  >
    <div class="mt-24">
      <h1>
        {title}
      </h1>
      <p class="opacity-50 text-xl font-medium">{description}</p>
    </div>

    <hr class="bg-border h-0.5 w-full" />

    <div>
      <Content />
    </div>
  </article>
</Layout>
