---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import SnippetCard from "@/components/snippets/SnippetCard.astro";
import PageHeader from "@/components/shared/PageHeader.astro";

const snippets = await getCollection("snippets");

const sortedSnippets = snippets.sort((a, b) => {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout
  title="Snippets"
  description="Short lessons, creative solutions, and insights from my web development journey."
>
  <PageHeader title="Snippets" />

  <section class="gap-y-12 mt-24 gap-6 grid grid-cols-1 sm:grid-cols-2">
    {sortedSnippets.map((snippet) => <SnippetCard snippet={snippet} />)}
  </section>
</Layout>
